<!DOCTYPE html>
<html>
  <head>
    <title>IT Consulting</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
	<script type="text/javascript" 		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNcEsVPWyM4hYmDN4GVle21yrfmECgyCk&sensor=false"></script>
	<script src="/javascripts/main.js"></script>
  </head>
  <body>
	<div class="nav-bar-container">
		<div class="nav-bar">
			<p class="logo">Myapp</p>
			<ul class="navigation">
				<li>add trip</li>
				<li>map</li>
				<li>profile</li>
				<li>login</li>
			</ul>
		</div>
	</div>
	<div class="log-in">
		<div class="login-logo">
			<img src="/images/logo.png" />
		</div>
		<form action="/login" method="post">
		    <div>
		        <input id="email-field" type="text" name="email" placeholder="email" />
		    </div>
		    <div>
		        <input id="password-field" type="password" name="password" placeholder="password" />
		    </div>
		    <div class="submit-container">
		        <input id="submit-button" type="submit" value="Log In"/>
		    </div>
		</form>
		<p class="sign-up-link">Don't have an account? <a href="/signup.html">Sign up!</a></p>
		
	</div>

	<div class="footer">
		<p>
			<span class="footer-item">Carnegie Mellon University</span>
			<span class="footer-item">-</span>
			<span class="Footer-item">Rebecca Chen</span>
			<span class="footer-item">-</span>
			<span class="footer-item">IT Consulting</span>
	</div>


  </body>
</html>